# Composer Related
/vendor
composer.lock

.env*
/.claude
/agent-os
/CLAUDE.md

# Frontend Assets
/node_modules

# Logs
npm-debug.log
yarn-error.log

# Caches
/build
.phpunit.cache
.phpunit.result.cache

# IDE Helper
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php

# Editors
/.idea
/.fleet
/.vscode
/.aiassistant

# Misc
/docs
/coverage
phpunit.xml
phpstan.neon
testbench.yaml
